body {
    margin: 0;
    background: url("../images/vintage-concrete.png");
}

header {
    background-color: #ffffff;
    height: 60px;
}

#name {
    background-color: #4aaaa5;
    float: left;
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#nav {
    float: right;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #4aaaa5;
    padding: 20px;
    border-bottom: solid 3px;
    border-color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

img {
    float: left;
    margin-right: 10px;
    margin-left: 10px;

}

#main {
    clear: both;
    background-color: #ffffff;
    width: 965px;
    margin: auto;
    height: 450px;
    margin-bottom: 10px;
}

footer {
    background-color: #666666;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    border-top: solid 4px;
    border-color: #4aaaa5;


}

p {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

#contact {
    
}
