body {
    width: 965px;
    margin: auto;
}
h1 {
    background-color: #4aaaa5;
    border: solid 1px #cccccc;
    color: #ffffff;
    padding: 10px;
    width: 100px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 0px;

}

#container {
    width: 965px;
    background-color: #ffffff;
}

#nav {
    background-color:#ffffff;
    float: right;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

#content {
    background-color: tan;
    border: solid #dddddd;
    clear: both;
    width: 965px;
    height: 400px;
   
}

p {
    text-align: center;
}

h2 {
    
}

img {
    width: 200px;
    height: 200px;
    float: left;
}